<h1>Member Post</h1>

<h2><%= @post.title %></h2>
<p><%= @post.body%></p>
<p> Penned By: 
  <% if user_signed_in? %>
    <%= @post.user.name %>
  <% else %>
    Anonymous
  <% end %>
</p>
<% if user_signed_in? && current_user.id == @post.user_id %>
  <p>You're the guy you say you are</p>
<% end %>


<%= render "shared/sign-up" %>